// styles.scss

$color: rgb(62, 141, 226);
$text-color: black;
$color-filter: white;
$border-colors: rgb(4, 4, 88);

.wine-block {
  background-color: $color;
}

.price {
  font-size: 2em;
}

.categorie-block {
  background-color: $color;
}

.card-body {
  margin-top: -24px;
  border-top: 1px solid #000;
}

.card-deck .card {
  background-color: $color;
  border-color: $border-colors;
}

body {
  background: black
}

.container-fluid {
  max-width: 1200px;
}

header {
  background: $color;
  padding: 2em 1em;
  color: $text-color;
  text-align: center;
  margin-bottom: 2em;
  h1 {
    font-weight: 200;
  }
}

.card {
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  img {
    width: 100%;
  }
}

[class*="row"] {
  margin-bottom: 1em;
  justify-content: center;
}

.title {
  background-color: $color;
  border-color: $border-colors;
}

.filters {
  color: $color-filter
}

[class*="col-"] {
  color: $text-color;
  padding-top: .75rem;
  padding-bottom: .75rem;
  width: 100%;
}

.filters {
  padding-left: 0;
  list-style: none;
}
